body {
	&:before, &:after {
		content: '';
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		@media @lg, @md {
			left: @sidebar;
		}
	}
	&:before{
		-webkit-filter: blur(4px);
		-moz-filter: blur(4px);
		-o-filter: blur(4px);
		-ms-filter: blur(4px);
		filter: blur(4px);
		background: url(../images/bg/01.jpg) no-repeat center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
	}
	&:after{
		background: fade(#fff,50);
	}
}
.scrollbar {
	&::-webkit-scrollbar{
		width: 10px;
		
	}
	&::-webkit-scrollbar-thumb{
		border-radius: 0;
		background: #fff;
		&:hover{
			background: @c2;
		}
	}
	&::-webkit-scrollbar-track{
		background: @c3;
	}

}
.page_header {
	position: relative;
	z-index: 2;
	background: #fff;
	@media @lg, @md {
		position: fixed;
		width: @sidebar;
		top: 0;
		left: 0;
		bottom: 0;
	}
	@media @sm, @xs {
		padding: 5px 20px 20px;
	}
	.logo {
		margin: 29px 48px 41px 30px;
		@media @sm {
			margin: 30px 33.3333%;
		}
		@media @xs {
			max-width: 280px;
			margin: 20px auto;
		}
		img {
			display: block;
		}
	}
	&>.toggle {
		.fh;
		display: none;
		width: 100%;
		height: 60px;
		font-size: 28px;
		line-height: 60px;
		margin: 0 0 20px;
		font-weight: 300;
		@media @sm, @xs {
			display: block;
		}
		&:before{
			.fi;
			content: '\e819';
			font-weight: normal;
			margin: 0 10px 0 0;
		}
	}
}
#content {
	padding: 5% 7.2%;
	background: #fff;
}
.page_main {
	.clearfix;
	display: block;
	position: relative;
	z-index: 1;
	margin: 0 0 0 @sidebar;
	@media @sm, @xs {
		margin: 0;
	}
}
.header_top {
	@media @lg, @md {
		.transition(0.2s);
		position: fixed;
		z-index: 999;
		margin: 0 0 0 @sidebar;
		top: 0;
		right: 0;
		background: fade(#fff,90);
		border: 1px solid @c2;
		border-right: 0;
		.homepage & {
			top: 30px;
		}
		.homepage.offset_150 & {
			top: 0;
			border-top: 0;
		}
	}
	@media @xs, @sm {
		display: none;
		.menu_main-on & {
			display: block;
		}
	}
}
.product_list_item {
	a {
		color: #fff;
		text-decoration: none;
		&:hover{
			figure {
				&:before{
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
				}
				&:after{
					width: 64px;
					font-size: 30px;
					margin: -32px 0 0 -32px;
				}
			}
		}
		figure {
			position: relative;
			margin: 0 0 19%;
			@media @xs {
				margin: 0 10% 20px;
			}
			&:before{
				.transition(0.2s);
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				right: 50%;
				bottom: 50%;
				background: fade(@c2,50);
			}
			&:after{
				.fi;
				.transition(0.2s);
				.transition-delay(0.2s);
				content: '\e80a';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 0;
				height: 64px;
				line-height: 64px;
				font-size: 0;
				text-align: center;
				margin: -32px 0 0;
				background: @c3;
			}
			img {
				display: block;
				border: 2px solid #fff;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
		}
		h2 {
			font-size: 22px;
			text-transform: uppercase;
			font-weight: 300;
			padding: 0 0 12.5%;
			border-bottom: 3px solid fade(@c3,50);
			@media @md, @sm, @xs {
				font-size: 18px;
			}
		}
		.more {
			position: relative;
			margin: 0 0 19%;
			background: @c3;
			padding: 0 0 100%;
			font-size: 23px;
			span {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				padding: 33.3333% 10% 0;
			}
		}
		nav {
			.transition(0.2s);
			position: relative;
			display: block;
			color: #fff;
			text-decoration: none;
			font-weight: 900;
			text-transform: uppercase;
			font-size: 14px;
			line-height: 58px;
			padding: 0 19px 0 35px;
			margin: 0 15px 0 0;
			text-align: left;
			background: @c3;
			&:hover{
				background: @c2;
				&:after{
					border-left-color: @c2;
				}
			}
			&:before{
				float: right;
				line-height: 58px;
				font-weight: normal;
				font-size: 22px;
				margin: 0 0 0 20px;
			}
			&:after{
				.transition(0.2s);
				content: '';
				position: absolute;
				top: 0;
				left: 100%;
				height: 2px;
				border: 28px solid transparent;
				border-left: 14px solid @c3;
				-webkit-box-sizing: initial;
				-moz-box-sizing: initial;
				box-sizing: initial;
				@media @sm, @xs {
					display: none;
				}
			}
			[class^="icon-"] {
				float: right;
				font-size: 20px;
				margin: 0 0 0 10px;
				&:before{
					margin: 0;
				}
				&:after{
					.fi;
					content: '\e80f';
					position: absolute;
					left: 100%;
					top: 50%;
					font-size: 64px;
					line-height: 1;
					color: #fff;
					margin: -32px 0 0 -18px;
					font-weight: normal;
				}
			}
		}
	}
}
.mod_menu-category {
	margin: 0 0 45px;
	@media @lg, @md {
		.scrollbar;
		max-height: 80%;
		overflow: auto;
	}
	@media @xs, @sm {
		display: none;
		.menu_main-on & {
			display: block;
		}
	}
	&>ul {
		.rul;
		margin: 0 0 15px;
		@media @sm, @xs {
			text-align: center;
			margin: 0 0 30px;
		}
		&>li {
			.rli;
			margin: 0 0 -1px;
			&.act, &.highlight {
				&>a {
					color: @c2;
				}
			}
			&>a {
				.transition(0.2s);
				display: inline-block;
				position: relative;
				font-size: 14px;
				line-height: 1.2;
				text-transform: uppercase;
				color: @c1;
				text-indent: 0;
				text-decoration: none;
				padding: 28px 6px 6px 30px;
				&:before, &:after{
					.transition(left 0.4s);
					content: '';
					position: absolute;
					bottom: 0;
					right: 0;
					left: 0;
					height: 1px;
					background: @c2;
				}
				&:after{
					right: 100%;
					background: #fff;
				}
				&:hover{
					&:after{
						right: 0;
						left: 100%;
					}
				}
				@media @sm, @xs {
					margin: 0 5px;
					padding: 20px 10px 10px 10px;
				}
			}
			ul {
				.rul;
				margin: -1px 0 10px;
				padding: 15px 0 18px;
				background: @c2;
				@media @sm, @xs {
					display: inline-block;
					vertical-align: top;
				}
				li {
					.rli;
					font-size: 13px;
					line-height: 1.2;
					@media @sm, @xs {
						display: inline-block;
						vertical-align: top;
					}
					&.act {
						a {
							font-weight: bold;
						}
					}
					a {
						display: block;
						position: relative;
						color: #fff;
						padding: 11px 6px 10px 46px;
						border-bottom: 1px solid @c2;
						&:hover{
							text-decoration: none;
						}
						&:before{
							.fi;
							content: '\e80f';
							position: absolute;
							display: inline-block;
							left: 25px;
							top: 10px;
							font-size: 18px;
							line-height: 1;
							font-weight: bold;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}
.mod_menu-sidebar {
	@media @lg, @md {
		margin: 0 26% 0 0;
	}
	@media @xs, @sm {
		display: none;
		.menu_main-on & {
			display: block;
		}
	}
	ul {
		.rul;
		@media @sm, @xs {
			text-align: center;
		}
		li {
			.rli;
			@media @sm, @xs {
				display: inline-block;
				vertical-align: top;
			}
			&:before{
				left: 100%;
				content: '\e80f';
				font-size: 66px;
				line-height: 1;
				color: @c2;
				top: 50%;
				font-weight: normal;
				margin: -33px 0 0 -16px;
				@media @sm, @xs {
					display: none;
				}
			}
			a {
				.transition(0.2s);
				position: relative;
				display: block;
				color: #fff;
				text-decoration: none;
				font-weight: 900;
				text-transform: uppercase;
				font-size: 14px;
				line-height: 58px;
				padding: 0 15px 0 30px;
				background: @c3;
				&:hover{
					background: @c2;
					&:after{
						border-left-color: @c2;
					}
				}
				&:before{
					float: right;
					line-height: 58px;
					font-weight: normal;
					font-size: 22px;
					margin: 0 0 0 20px;
				}
				&:after{
					.transition(0.2s);
					content: '';
					position: absolute;
					top: 0;
					left: 100%;
					height: 2px;
					border: 28px solid transparent;
					border-left: 14px solid @c3;
					-webkit-box-sizing: initial;
					-moz-box-sizing: initial;
					box-sizing: initial;
					@media @sm, @xs {
						display: none;
					}
				}
			}
		}
	}
}
.mod_search {
	@media @lg, @md {
		float: right;
		margin: 5px 0 0;		
	}
	.toggle {
		font-size: 0;
		background: none;
		color: @c1;
		height: 60px;
		line-height: 60px;
		padding: 0 18px 0 0;
		width: 62px;
		@media @sm, @xs {
			display: none;
		}
		&:hover{
			color: @c2;
		}
		&:before{
			.fi;
			content: '\e808';
			font-size: 14px;
			.mod_search-on & {
				content: '\e807';
				font-size: 26px;
			}
		}
	}
	form {
		@media @lg, @md {
			.transition(0.2s);
			position: absolute;
			top: 90%;
			right: 0;
			height: 0;
			width: 340px;
			padding: 0 20px;
			overflow: hidden;
			background: @c3;
			.mod_search-on & {
				padding-top: 20px;
				padding-bottom: 20px;
				height: @input-height+40;
			}
			input[type="text"] {
				width: 240px;
				float: left;
				border-color: transparent;
			}
		}
		button {
			position: relative;
			width: 60px;
			padding: 0;
			font-size: 0;
			background: @c2;
			&:hover{
				@media @lg, @md {
					color: @c3;
					background: #fff;
				}
			}
			&:before{
				.fi;
				content: '\e808';
				font-size: 20px;
				font-weight: normal;
			}
		}
		@media @sm, @xs {
			input[type="text"] {
				float: left;
				margin: 0 -60px 0 0;
			}
		}
	}
}
.mod_menu-main {
	@media @lg, @md {
		float: left;
		margin: 22px 0 0 42px;
	}
	@media @sm, @xs {
		text-align: center;
		margin: 20px 0;
	}
	ul {
		.rul;
		li {
			.rli;
			float: left;
			padding: 0 0 0 27px;
			margin: 0 0 10px;
			@media @sm, @xs {
				float: none;
				display: inline-block;
				vertical-align: top;
			}
			&:first-child {
				padding-left: 0;
				&:before{
					display: none;
				}
			}
			&:before{
				.fp;
				content: '/';
				top: 5px;
				left: 10px;
				font-size: 14px;
			}
			a {
				position: relative;
				display: inline-block;
				color: @c1;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 14px;
				line-height: 1.2;
				padding: 0 0 5px;
				&:hover{
					color: @c2;
					&:before{
						left: 0;
						right: 0;
					}
				}
				&:before{
					.transition(0.2s);
					content: '';
					position: absolute;
					bottom: 0;
					left: 50%;
					right: 50%;
					height: 1px;
					background: @c2;
				}
			}
		}
	}
}
.mod_custom-slideshow {
	position: relative;
	overflow: hidden;
	@media @sm, @xs {
		height: auto!important;
		padding: 0 0 50%;
	}
	@media @xs {
		padding: 0 0 75%;
	}
	.items {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		.item {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			background-repeat: no-repeat;
			background-position: center;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			background-size: cover;
			.content {
				position: absolute;
				bottom: 50%;
				left: 24%;
				right: 24%;
				min-height: 244px;
				margin: 0 0 -122px;
				padding: 48px 20px 40px;
				color: #fff;
				font-size: 30px;
				line-height: 1.1;
				text-align: center;
				background: fade(@c2,50);
				@media @md {
					font-size: 20px;
				}
				@media @sm, @xs {
					padding: 20px;
					font-size: 16px;
					min-height: 0;
					margin: 0;
					bottom: 0;
					left: 0;
					right: 0;
				}
				h2 {
					.fh;
					font-weight: normal;
					text-transform: uppercase;
					font-size: 52px;
					line-height: 1;
					margin: 0 0 15px;
					@media @md {
						font-size: 42px;
					}
					@media @sm, @xs  {
						font-size: 20px;
					}
				}
				nav {
					position: absolute;
					bottom: -38px;
					right: 0;
					left: 0;
					@media @sm, @xs {
						position: static;
					}
					a {
						.btn;
						font-weight: normal;
						text-transform: uppercase;
						font-size: 14px;
						height: 74px;
						line-height: 74px;
						padding: 0 35px;
						@media @sm, @xs {
							padding: 0 20px;
							height: 40px;
							line-height: 40px;
						}
						&:hover{
							background: lighten(@c3,10);
						}
					}
				}
			}
		}
	}
	.prev, .next {
		.transition(0.2s);
		position: absolute;
		z-index: 101;
		bottom: 50%;
		margin: 0 0 -122px;
		width: 51px;
		height: 244px;
		line-height: 244px;
		color: #fff;
		font-size: 64px;
		text-align: center;
		background: fade(@c2,50);
		@media @sm, @xs {
			display: none;
		}
		&:hover{
			background: @c3;
		}
		&:before{
			.fi;
			content: '\e80e';
			margin: 0 -5em;
		}
	}
	.next {
		left: auto;
		right: 0;
		&:before{
			content: '\e80f';
		}
	}
	.pager {
		position: absolute;
		z-index: 101;
		bottom: 7%;
		right: 3%;
		span {
			font-size: 0;
			line-height: 1;
			color: #fff;
			text-shadow: 1px 1px 0 fade(#000,50);
			cursor: pointer;
			margin: 0 0 0 6px;
			&.cycle-pager-active {
				&:before{
					content: '\e80d';
				}
			}
			&:before{
				.fi;
				content: '\e80c';
				font-size: 18px;
			}
		}
	}
	&>nav {
		position: absolute;
		z-index: 101;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		@media @sm, @xs {
			bottom: auto;
			left: auto;
			top: 0;
		}
		a {
			.border-radius(160px 160px 0 0);
			.transition(0.2s);
			display: block;
			width: 246px;
			height: 124px;
			color: #fff;
			font-size: 14px;
			padding: 30px 50px 0;
			text-align: center;
			margin: auto;
			text-transform: uppercase;
			text-decoration: none;
			background: fade(@c2,75);
			@media @sm, @xs {
				.border-radius(0);
				display: inline-block;
				vertical-align: top;
				padding: 10px 20px;
				height: auto;
				width: auto;
			}
			&:hover{
				background: @c3;
			}
			&:after{
				.fi;
				content: '\e810';
				display: block;
				line-height: 1;
				font-size: 65px;
				margin: -7px 0;
				@media @sm, @xs {
					display: none;
				}
			}
		}
	}
}
.mod_custom-reference {
	position: relative;
	z-index: 1;
	padding: 4.8% 5.6% 2.5%;
	text-align: center;
	font-weight: 300;
	font-size: 30px;
	line-height: 1.2;
	color: #fff;
	background: fade(@c2,75);
	.page_reference & {
		padding-bottom: 0.6%;
		margin-bottom: 180px;
	}
	@media @md, @sm, @xs {
		font-size: 20px;
	}
	.mod-title {
		.fh;
		position: relative;
		display: inline-block;
		font-size: 52px;
		line-height: 1;
		text-transform: uppercase;
		padding: 0 0 34px;
		margin: 0 0 16px;
		@media @md, @sm, @xs {
			font-size: 42px;
		}
		&:before{
			content: '';
			position: absolute;
			bottom: 0;
			left: 30%;
			right: 30%;
			height: 10px;
			background: #fff;
		}
	}
	ul.filter {
		.rul;
		display: table;
		width: 96.6%;
		margin: 3.2% 1.7% 2%;
		@media @md, @sm, @xs {
			display: block;
		}
		li {
			.rli;
			display: table-cell;
			vertical-align: top;
			padding: 0 10px;
			@media @md, @sm, @xs {
				display: inline-block;
				margin: 0 0 20px;
			}
			&.act {
				a {
					color: #fff;
					background: @c3;
				}
			}
			a {
				.transition(0.2s);
				display: block;
				text-decoration: none;
				font-size: 19px;
				line-height: 1.2;
				padding: 14px 10px 13px;
				background: #fff;
				color: @c3;
				&:hover{
					color: #fff;
					background: @c2;
				}
			}
		}
	}
	ul.items {
		.rul;
		margin: 7.5% 0 0;
		.page_reference & {
			margin-top: 5%;
		}
		li {
			.rli;
			.product_list_item;
			display: inline-block;
			vertical-align: top;
			width: 20%;
			margin: 0 -4px 7%;
			padding: 0 2.2%;
			@media (max-width: 1680px) {
				width: 25%;
				padding: 1%;
			}
			@media (max-width: 1480px) {
				width: 33.3333%;
			}
			@media @md {
				width: 50%;
			}
			@media @xs {
				width: 100%;
			}
		}
	}
	&>nav {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		height: 0;
		overflow: visible;
		a {
			.border-radius(0 0 160px 160px);
			.transition(0.2s);
			display: block;
			width: 226px;
			height: 110px;
			color: #fff;
			font-size: 16px;
			line-height: 1;
			font-weight: 600;
			padding: 20px 30px 0;
			text-align: center;
			margin: auto;
			text-transform: uppercase;
			text-decoration: none;
			background: fade(@c2,75);
			&:hover{
				background: @c3;
			}
			&:after{
				.fi;
				display: block;
				content: '\e815';
				font-weight: normal;
				font-size: 36px;
				margin: 3px 0;
			}
		}
	}
}
.mod_custom-process {
	position: relative;
	text-align: center;
	.mod-title {
		.fh;
		display: inline-block;
		position: relative;
		z-index: 1;
		font-size: 52px;
		line-height: 1;
		padding: 11.8% 5.6% 3.25%;
		margin: 0 0 -5px;
		text-transform: uppercase;
		color: @c3;
		@media @md, @sm, @xs {
			padding-top: 160px;
			font-size: 42px;
		}
		&:before{
			content: '';
			position: absolute;
			bottom: 0;
			left: 39%;
			right: 39%;
			height: 10px;
			background: @c2;
		}
	}
	.content {
		position: relative;
		padding: 2.6% 5.6% 7%;
		color: @c3;
		font-size: 30px;
		line-height: 1.2;
		background: #fff;
		@media @md, @sm, @xs {
			font-size: 20px;
		}
		ul {
			.rul;
			margin: 5.3% 0 0;
			li {
				.rli;
				display: inline-block;
				vertical-align: top;
				width: 20%;
				margin: 0 -4px 3.5%;
				padding: 0 1.4%;
				color: @c1;
				font-size: 14px;
				line-height: 1.6;
				@media @md, @sm {
					width: 33.3333%;
				}
				@media @xs {
					width: 100%;
				}
				&:first-child {
					figure {
						&:after{
							display: none;
						}
					}
				}
				figure {
					position: relative;
					margin: 0 10% 20%;
					padding: 0 0 80%;
					@media @xs {
						margin: 0 10% 20px;
					}
					&.icon-focus {
						&:before{
							font-size: 106px;
							padding-left: 10px;
						}
					}
					&.icon-production {
						&:before{
							font-size: 96px;
						}
					}
					&:before{
						.border-radius(50%);
						position: absolute;
						z-index: 1;
						top: 50%;
						left: 50%;
						width: 112px;
						height: 112px;
						line-height: 112px;
						font-size: 52px;
						margin: -56px 0 0 -56px;
						color: #fff;
						background: fade(#000,20);
					}
					&:after{
						.fi;
						content: '\e80f';
						position: absolute;
						top: 50%;
						left: -40%;
						font-size: 66px;
						line-height: 1;
						color: @c3;
						margin: -33px 0 0;
					}
					span {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						overflow: hidden;
					}
					img {
						position: absolute;
						top: -5%;
						left: -5%;
						width: 120%;
						height: 120%;
						max-width: none;
						display: block;
						-webkit-filter: blur(3px);
						-moz-filter: blur(3px);
						-o-filter: blur(3px);
						-ms-filter: blur(3px);
						filter: blur(3px);
						-webkit-opacity: 0.4;
						-moz-opacity: 0.4;
						opacity: 0.4;
						filter:alpha(opacity=40);
					}
				}
				h2 {
					font-size: 21px;
					line-height: 27px;
					min-height: 54px;
					margin: 0 0 12%;
					color: @c2;
					font-weight: 300;
					text-transform: uppercase;
					@media @xs {
						min-height: 0;
						margin: 0 0 10px;
					}
				}
			}
		}
	}
	nav {
		a {
			position: relative;
			display: inline-block;
			vertical-align: top;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 28px;
			line-height: 1;
			padding: 0 0 23px;
			margin: 0 0 0 4.5%;
			@media @xs {
				font-size: 18px;
			}
			&:hover{
				&:before{
					color: @c2;
				}
				&:after{
					background: @c3;
				}
			}
			&:before{
				.fi;
				.transition(0.2s);
				content: '\e80b';
				position: absolute;
				top: 50%;
				right: 100%;
				font-size: 64px;
				line-height: 100px;
				margin: -48px 10% 0 0;
				color: @c3;
				@media @xs {
					display: none;
				}
			}
			&:after{
				.transition(0.2s);
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 10px;
				background: @c2;
			}
		}
	}
}
.mod_custom-numbers {
	position: relative;
	text-align: center;
	.mod-title {
		.fh;
		display: inline-block;
		position: relative;
		z-index: 1;
		font-size: 52px;
		line-height: 1;
		padding: 9.6% 5.6% 3.25%;
		margin: 0 0 -5px;
		text-transform: uppercase;
		color: @c3;
		@media @md, @sm, @xs {
			font-size: 42px;
		}
		&:before{
			content: '';
			position: absolute;
			bottom: 0;
			left: 32%;
			right: 32%;
			height: 10px;
			background: @c2;
		}
	}
	.content {
		position: relative;
		padding: 2.6% 5.6% 3.4%;
		color: @c3;
		font-size: 30px;
		line-height: 1.2;
		background: #fff;
		@media @md, @sm, @xs {
			font-size: 20px;
		}
	}
	ul {
		.rul;
		margin: 6.2% 0 5.7%;
		li {
			.rli;
			display: inline-block;
			vertical-align: top;
			width: 20%;
			margin: 0 -4px 5.7%;
			padding: 0 1.1%;
			font-size: 18px;
			line-height: 1.6;
			@media @md, @sm {
				width: 33.3333%;
				font-size: 16px;
			}
			@media @xs {
				width: 100%;
			}
			mark {
				.fh;
				display: block;
				font-size: 120px;
				line-height: 1;
				letter-spacing: -0.05em;
				color: @c2;
				overflow: hidden;
				margin: 0 0 12%;
				border-top: 1px solid @c3;
				border-bottom: 1px solid @c3;
				@media @md, @sm, @xs {
					font-size: 80px;
				}
				&:before{
					content: '';
					display: block;
					margin: -12% 0 0;
					@media @md, @sm {
						margin: -8% 0 0;
					}
					@media @xs {
						margin: -6% 0 0;
					}
				}
				&:after{
					content: '';
					display: block;
					margin: 0 0 -5.5%;
					@media @md, @sm {
						margin: 0 0 -4%;
					}
					@media @xs {
						margin: 0 0 -2%;
					}
				}
			}
		}
	}
	nav {
		position: relative;
		display: inline-block;
		overflow: hidden;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA2YWJhNyIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iIzA2YWJhNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iIzA2YWJhNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNmFiYTciIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(left,  rgba(6,171,167,0) 0%, rgba(6,171,167,1) 20%, rgba(6,171,167,1) 80%, rgba(6,171,167,0) 100%);
		background: -webkit-linear-gradient(left,  rgba(6,171,167,0) 0%,rgba(6,171,167,1) 20%,rgba(6,171,167,1) 80%,rgba(6,171,167,0) 100%);
		background: linear-gradient(to right,  rgba(6,171,167,0) 0%,rgba(6,171,167,1) 20%,rgba(6,171,167,1) 80%,rgba(6,171,167,0) 100%);
		background-size: 100% 10px;
		padding: 0 9%;
		background-repeat: no-repeat;
		a {
			.border-radius(50%);
			.transition(0.2s);
			display: block;
			width: 258px;
			height: 258px;
			padding: 168px 0 0;
			background: #fff;
			border: 10px solid @c2;
			margin: -175px 0 0;
			line-height: 1;
			color: @c3;
			text-transform: uppercase;
			text-decoration: none;
			font-size: 16px;
			font-weight: 600;
			&:hover{
				padding-top: 180px;
				color: #fff;
				background: @c2;
			}
			&:after{
				.fi;
				content: '\e815';
				display: block;
				font-size: 36px;
				margin: 3px 0 0;
			}
		}
	}
}
.page_footer {
	position: relative;
	z-index: 1;
	padding: 0 0 5%;
	color: #fff;
	background: @c3;
	text-align: right;
	@media @lg, @md {
		margin: 0 0 0 @sidebar;
	}
	@media @sm, @xs {
		padding: 0 0 100px;
		text-align: center;
	}
	a {
		color: #fff;
	}
	.copy {
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
		margin: 0 45px 0 0;
		@media @sm, @xs {
			display: block;
			margin: 0 0 20px;
		}
		p {
			margin: 5px 0;
		}
	}
	.xart {
		display: inline-block;
		vertical-align: middle;
		font-size: 12px;
		margin: 0 20px 0 0;
		text-transform: uppercase;
		@media @sm, @xs {
			display: block;
			margin: 0 0 20px;
		}
		a {
			position: relative;
			display: inline-block;
			text-decoration: none;
			color: fade(#fff,65);
			padding: 0 30px 0 0;
			&:hover{
				text-decoration: underline;
			}
		}
		img {
			position: absolute;
			top: -1px;
			right: 0;
		}
	}
}
.mod_menu-media {
	display: inline-block;
	vertical-align: middle;
	margin: 0 45px 0 0;
	@media @sm, @xs {
		display: block;
		margin: 0 0 20px;
	}
	ul {
		.rul;
		li {
			.rli;
			display: inline-block;
			margin: 0 0 0 20px;
			@media @sm, @xs {
				margin: 0 10px;
			}
			a {
				display: inline-block;
				text-decoration: none;
				line-height: 1;
			}
			[class^="icon-"] {
				font-size: 0;
				&:hover{
					color: fade(#fff,65);
				}
				&:before{
					margin: 0;
					font-size: 28px;
				}
			}
		}
	}
}
.mod_menu-footer {
	padding: 24px 45px 11px;
	margin: 0 0 42px;
	background: @c2;
	ul {
		.rul;
		text-align: right;
		@media @sm, @xs {
			text-align: center;
		}
		li {
			.rli;
			display: inline-block;
			vertical-align: top;
			font-size: 14px;
			line-height: 1.2;
			font-weight: 600;
			text-transform: uppercase;
			padding: 0 0 0 15px;
			margin: 0 0 10px 5px;
			@media @sm, @xs {
				margin: 0 5px 10px;
			}
			&:first-child {
				&:before{
					display: none;
				}
			}
			&:before{
				content: '/';
				font-size: 14px;
				top: 0;
				font-style: italic;
			}
			a {
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
#gotop{
	a{
		.transition(0.2s);
		.border-radius(50%);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @cl;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e811';
			font-size: 36px;
		}
		&:hover{
			background: darken(@cl,10%);
		}
	}
	.offset_150 &{
		a{
			bottom: 20px;
		}
	}
}
.header_main {
	position: relative;
	z-index: 1;
	padding: 7% 7.2% 0;
	@media @md {
		padding-top: 120px;
	}
	h1 {
		text-transform: uppercase;
		color: @c3;
		padding: 0 0 42px;
		margin: 0;
		@media @xs {
			font-size: 38px;
		}
		&:before{
			content: '';
			position: absolute;
			bottom: -5px;
			height: 10px;
			width: 12.3%;
			background: @c2;
		}
	}
}
.google_map {
	position: relative;
	padding: 0 0 50%;
}
.page_detail {
	.content {
		.clearfix;
		position: relative;
		padding: 0 0 1px;
		background: #fff;
	}
	.detail_images {
		width: 72.5%;
		float: left;
		padding: 2.6% 6% 2.6% 7.2%;
		@media @md, @sm, @xs {
			width: 100%;
			float: none;
		}
		@media @xs {
			padding-bottom: 10%;
		}
		h2 {
			font-size: 30px;
			color: @c3;
			font-weight: 300;
		}
		.slideshow {
			.clearfix;
			margin: 4.8% 0;
			ul {
				.rul;
				li {
					.rli;
					img {
						display: block;
					}
				}
			}
			.items {
				width: 73.3%;
				float: left;
				li {
					width: 100%;
				}
			}
			.thumbnails_wrap {
				position: relative;
				float: right;
				width: 22.2%;
				.prev, .next {
					position: absolute;
					bottom: 100%;
					width: 100%;
					text-align: center;
					font-size: 60px;
					line-height: 1;
					color: @c2;
					text-decoration: none;
					@media @xs {
						font-size: 40px;
					}
					&.disabled {
						color: #ddd;
						cursor: default;
					}
				}
				.next {
					bottom: auto;
					top: 100%;
				}
			}
			.thumbnails {
				.rul;
				height: auto!important;
				padding: 0 0 220%;
				li {
					.rli;
					padding: 0 0 10%;
					cursor: pointer;
					width: 100%;
					&.cycle-sentinel {
						display: none!important;
					}
				}
			}
		}
	}
	.detail_content {
		width: 27.5%;
		float: left;
		padding: 6.7% 2.5%;
		line-height: 1.7;
		background: @c2;
		@media @md, @sm, @xs {
			float: none;
			width: 100%;
			padding-left: 7.2%;
			padding-right: 6%;
		}
		h2 {
			font-weight: 300;
			color: #fff;
			font-size: 30px;
			margin: 0 0 20px;
			text-transform: uppercase;
		}
		ul {
			.rul;
			li {
				.rli;
				line-height: 1.2;
				padding: 0 0 0 20px;
				margin: 0 0 7px;
				&:before{
					width: 6px;
					height: 16px;
					top: 1px;
					background: #fff;
				}
			}
		}
	}
}
.page_contact {
	.header_main {
		padding-left: 16.6%;
		@media (max-width: 1600px) {
			padding-left: 7.2%;
		}
	}
	.content {
		.clearfix;
		position: relative;
		padding: 0 0 1px;
		background: #fff;
	}
	.contact_people {
		width: 63%;
		float: left;
		padding: 6.5% 6% 3.8% 16.5%;
		@media (max-width: 1600px) {
			padding-left: 7.2%;
		}
		@media @md, @sm, @xs {
			width: 100%;
			padding-left: 7.2%;
			padding-right: 7.2%;
		}
	}
	.items {
		position: relative;
		padding: 0 0 0 167px;
		@media (max-width: 1600px) {
			padding: 120px 0 0 0;
		}
		&:before{
			.fi;
			content: '\e81b';
			position: absolute;
			left: 0;
			top: 5px;
			font-size: 100px;
			line-height: 1;
			@media (max-width: 1600px) {
				font-size: 80px;
			}
		}
		.item {
			.clearfix;
			margin: 0 0 45px;
			h2 {
				text-transform: uppercase;
				color: @c2;
				margin: 0 0 28px;
				small {
					display: block;
					color: @c1;
					text-transform: none;
					font-size: 20px;
					line-height: 1.5;
					font-weight: 300;
				}
			}
			.qr {
				float: left;
				width: 115px;
				@media @xs {
					float: none;
					width: auto;
					margin: 0 50% 20px 0;
				}
			}
			.phone, .mail {
				position: relative;
				margin: 0 0 20px 143px;
				padding: 0 0 0 48px;
				@media @xs {
					margin-left: 0;
				}
				&:before{
					.fi;
					content: '\e81c';
					position: absolute;
					bottom: 50%;
					left: 0;
					margin: 0 0 -21px;
					color: @c3;
					font-size: 32px;
				}
			}
			.phone {
				font-size: 20px;
				line-height: 1;
				&:before{
					content: '\e81c';
				}
				mark {
					color: @c2;
					font-size: 29px;
					font-weight: 300;
					line-height: 1;
				}
			}
			.mail {
				&:before{
					content: '\e81a';
				}
			}
		}
	}
	.contact_content {
		width: 37%;
		float: left;
		padding: 6.8% 2.5% 3.4%;
		line-height: 1.7;
		background: @c2;
		@media @md, @sm, @xs {
			width: 100%;
			padding-left: 7.2%;
			padding-right: 7.2%;
		}
		h2 {
			font-weight: 300;
			color: #fff;
			font-size: 30px;
			margin: 0 0 16px;
			text-transform: uppercase;
		}
		p {
			line-height: 1.2;
			margin: 0 0 15px;
		}
		mark {
			color: #fff;
		}
		address {
			font-style: normal;
			margin: 0 0 10px;
		}
	}
	.contact_map {
		clear: both;
		position: relative;
		padding: 0 0 24.4%;
		@media @xs {
			padding: 0 0 50%;
		}
		.map {
			position: absolute!important;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
}
.page_request {
	.clearfix;
	.content {
		float: left;
		width: 50%;
		line-height: 1.65;
		padding: 7.3% 5% 7.3% 15.5%;
		@media (max-width: 1600px) {
			padding-left: 7.2%;
		}
		@media @md, @sm, @xs {
			width: 100%;
			float: none;
			padding-top: 120px;
		}
		h1 {
			text-transform: uppercase;
			color: @c3;
			margin: 0 0 50px;
			@media @xs {
				font-size: 36px;
			}
			small {
				.fp;
				position: relative;
				display: block;
				margin: 25px 0 0;
				padding: 30px 0 0;
				text-transform: none;
				font-size: 31px;
				&:before{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 45%;
					height: 10px;
					background: @c2;
				}
			}
		}
		h2 {
			color: @c2;
			text-transform: uppercase;
			margin: 0 0 25px;
		}
	}
	.form {
		float: left;
		width: 50%;
		padding: 2.4% 15.5% 95px 5.2%;
		margin: 8% 0 9.6%;
		background: fade(@c2,80);
		@media (max-width: 1600px) {
			padding-right: 7.2%;
		}
		@media @md, @sm, @xs {
			float: none;
			width: 100%;
			margin-bottom: 20%;
		}
		label {
			display: block;
			text-transform: uppercase;
			color: #fff;
			font-size: 14px;
			margin: 20px 0 12px;
		}
		input[type=text],
		input[type=number],
		input[type=email],
		input[type=password],
		textarea,
		select {
			border: 0;
			background: fade(#fff,50);
			&:focus{
				background: #fff;
			}
		}
		textarea {
			height: 133px;
		}
		.fileinputs {
			.fakefile {
				input[type="button"] {
					color: @c3;
					font-size: 14px;
					padding: 0 30px;
					text-transform: uppercase;
					font-weight: normal;
					background: fade(#fff,50);
				}
			}
			&:hover{
				.fakefile {
					input[type="button"] {
						background: #fff;
					}
				}
			}
		}
		.submit {
			position: relative;
			top: 47px;
			margin: 0 0 -95px;
			input[type="submit"], button {
				height: 95px;
				line-height: 95px;
				text-transform: uppercase;
				font-size: 21px;
				min-width: 75%;
				padding: 0 40px;
			}
		}
	}
}
.page_product {
	.header_main {
		text-align: center;
		h1 {
			&:before{
				left: 43.85%;
			}
		}
	}
	.content {
		padding: 6.5% 15.6% 4.7%;
		background: #fff;
		line-height: 1.65;
		@media (max-width: 1600px) {
			padding-left: 7.2%;
			padding-right: 7.2%;
		}
		h2 {
			color: @c2;
			text-transform: uppercase;
			font-weight: 300;
			margin: 0 0 20px;
		}
	}
	.form {
		.form_header {
			.fh;
			text-align: center;
			font-size: 52px;
			line-height: 1.17;
			color: @c3;
			text-transform: uppercase;
			background: #fff;
			@media @xs {
				font-size: 36px;
			}
		}
		.form_content {
			.clearfix;
			text-align: center;
			padding: 0 15.3% 7.8%;
			background: fade(@c2,80);
			@media (max-width: 1600px) {
				padding-left: 7.2%;
				padding-right: 7.2%;
			}
			@media @xs {
				padding-bottom: 80px;
			}
		}
		.form_title {
			position: relative;
			overflow: hidden;
			font-size: 30px;
			line-height: 1.2;
			color: @c3;
			margin: 0 0 2.5%;
			&:before{
				position: absolute;
				content: '';
				bottom: 10px;
				left: 50%;
				border-left: 700px solid transparent;
				border-right: 700px solid transparent;
				border-top: 50px solid #fff;
				margin: 0 0 0 -700px;
			}
			span {
				display: block;
				padding: 2% 20px 25px;
				margin: 0 0 60px;
				background: #fff;
				&:before, &:after {
					.rotate(-4deg);
					content: '';
					position: absolute;
					bottom: 12px;
					left: 50%;
					height: 10px;
					width: 16%;
					margin: 0 0 0 -1px;
					background: @c3;
				}
				&:after{
					.rotate(4deg);
					left: auto;
					right: 50%;
					margin: 0 -1px 0 0;
				}
			}
		}
		.col_left {
			float: left;
			width: 42.5%;
			text-align: left;
			@media @md, @sm {
				width: 48%;
			}
			@media @xs {
				float: none;
				width: 100%;
			}
		}
		.col_right {
			float: right;
			width: 42.5%;
			text-align: left;
			@media @md, @sm {
				width: 48%;
			}
			@media @xs {
				float: none;
				width: 100%;
			}
		}
		label {
			display: block;
			text-transform: uppercase;
			color: #fff;
			font-size: 14px;
			margin: 20px 0 12px;
		}
		input[type=text],
		input[type=number],
		input[type=email],
		input[type=password],
		textarea,
		select {
			border: 0;
			background: fade(#fff,50);
			&:focus{
				background: #fff;
			}
		}
		textarea {
			height: 237px;
		}
		.fileinputs {
			.fakefile {
				input[type="button"] {
					color: @c3;
					font-size: 14px;
					padding: 0 30px;
					text-transform: uppercase;
					font-weight: normal;
					background: fade(#fff,50);
				}
			}
			&:hover{
				.fakefile {
					input[type="button"] {
						background: #fff;
					}
				}
			}
		}
		.submit {
			text-align: center;
			background: #fff;
			padding: 0 0 1.4%;
			input[type="submit"], button {
				height: 95px;
				line-height: 95px;
				text-transform: uppercase;
				font-size: 21px;
				min-width: 22%;
				position: relative;
				top: -48px;
				padding: 0 40px;
			}
		}
	}
}