
.icon-checkbox:before { content: '\e800'; } /* '' */
.icon-checkbox-checked:before { content: '\e801'; } /* '' */
.icon-radio:before { content: '\e802'; } /* '' */
.icon-radio-checked:before { content: '\e803'; } /* '' */
.icon-info-circled:before { content: '\e804'; } /* '' */
.icon-attention-circled:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-search:before { content: '\e808'; } /* '' */
.icon-edit-alt:before { content: '\e809'; } /* '' */
.icon-eye:before { content: '\e80a'; } /* '' */
.icon-plus-circled:before { content: '\e80b'; } /* '' */
.icon-pager-def:before { content: '\e80c'; } /* '' */
.icon-pager-act:before { content: '\e80d'; } /* '' */
.icon-arr-left:before { content: '\e80e'; } /* '' */
.icon-arr-right:before { content: '\e80f'; } /* '' */
.icon-arr-down:before { content: '\e810'; } /* '' */
.icon-arr-up:before { content: '\e811'; } /* '' */
.icon-consultation:before { content: '\e812'; } /* '' */
.icon-focus:before { content: '\e813'; } /* '' */
.icon-construction:before { content: '\e814'; } /* '' */
.icon-three-dots:before { content: '\e815'; } /* '' */
.icon-facebook-squared:before { content: '\e816'; } /* '' */
.icon-production:before { content: '\e817'; } /* '' */
.icon-old-document:before { content: '\e818'; } /* '' */
.icon-menu:before { content: '\e819'; } /* '' */
.icon-photo-circled:before { content: '\e81a'; } /* '' */
.icon-address-book:before { content: '\e81b'; } /* '' */
.icon-phone-circled:before { content: '\e81c'; } /* '' */